/.idea/
/catboost_info/
/yandex_music_project.csv
/data.csv
/real_estate_data.csv
/users_go.csv
/subscriptions_go.csv
/rides_go.csv
/games.csv
/users_behavior.csv
/Churn.csv
/geo_data_0.csv
/geo_data_1.csv
/geo_data_2.csv
/gold_industry_full.csv
/gold_industry_test.csv
/gold_industry_train.csv
/insurance.csv
/autos.csv
/taxi.csv
/toxic_comments.csv
/internet_new.csv
/personal_new.csv
/phone_new.csv
/contract_new.csv
